* {
    padding: 0;
    margin: 0;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(211, 0, 0, 0.5);
    box-shadow: 0 4px 8px 0 rgba(211, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50px 80px;
    width: 50%;
    margin:auto;
    height: 40vh;
    margin-top: 15%;
}
.text{
    color:yellow;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    /* width: 30vw; */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin-left: 5%;
    box-sizing: border-box;
width: 30vw;
    box-shadow: inset -10px -26px 13px 10px rgba(200, 0, 2, 0.19),
        inset 6px 26px 60px 50px rgba(211, 0, 0, 0.5);
    height: 30vh;
    padding: 15px;
    text-shadow: rgba(0, 0, 0, 0.19);
    border-radius: 70px 70px;
}

.container :nth-child(1) {
    padding: 5px;
}

button {
    width: 10vw;
    border: rgba(211, 0, 0, 0.5);
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: 5px 4px 10px#999;
    margin-top: 5px;
}

#btnReset {
    width: 10vw;
    border: rgba(211, 0, 0, 0.5);
    padding: 10px;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: 5px 4px 10px#999;
    margin-top: 15px;
}

button:active {
    background-color: #666;
    box-shadow: 0 5x #666;
    transform: translateY(6px);
}

input {
    margin-top: 5%;
    width: 10vw;
    border: none;
    height: 5vh;
    border-radius: 10px;
    text-align: center;
}

#myAge {
    display: none;
}

#warning {
    font-size: 10px;
    /* margin-top: 5%; */
    /* background-color: red; */
    display: none;
    text-align: center;
    /* border-radius: 50px 0px 50px; */
}

#success {
    font-size: 10px;
    /* margin-top: 5%; */
    /* width: 15%; */
    /* background-color: green; */
    display: none;
    text-align: center;
}

@media screen and (max-width: 700px) {
    body {
        /* width: fit-content; */
        height: 100vh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(211, 20, 0, 0.5);
        box-shadow: 0 4px 8px 0 rgba(211, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 70vw;
        margin-left: 10%;
        height: 70vh;
        color: white;
        border: solid green;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        box-sizing: border-box;
width: 50vw;
        box-shadow: inset -10px -26px 13px 10px rgba(200, 0, 2, 0.19),
            inset 6px 26px 60px 50px rgba(211, 0, 0, 0.5);
        height: 50vh;
        text-shadow: rgba(0, 0, 0, 0.19);
        border-radius: 70px 70px;
        background-color: grey;

    }

    input {
        /* margin-top: 5%; */
        width: 30vw;
        border: none;
    }
    input:placeholder-shown{
        text-align: center;
    }
    button {
        /* margin-top: 5px; */
        width: 20vw;

    }
    
    #btnReset {
        width: 20vw;
        /* margin-top: 15px; */
    }
    

}